.navbar_crud {
    width: 100%;
    display: table;
    border-bottom: 1px solid #d40050;
}

.logo_vivienda {
    width: 207px;
    padding: 13px 31px;
    float: left;
}

@media(max-width:650px){

    .logo_vivienda {
        width: 174px;
        padding: 12px 31px;
        float: left;
    }

    span.texto-bienvenido {
        display: none;
    }

}

@media(max-width:385px){

}

@media(max-width:365px){

    .logo_vivienda {
        width: 139px;
        padding: 9px 16px;
        float: left;
    }

}

@media(max-width:345px){

}